:root {
    --background: #000000;
    --white: #ffffff;
    --blue: #0366d6;
}

html {
    background-color: var(--background);
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

body {
    margin: 0;
}

::selection {
    background-color: rgba(45, 170, 219, 0.3);
}

a {
    text-decoration: none;
    letter-spacing: 0.01em;
}

p {
    color: var(--white);
    font-size: 16px;
    line-height: 1.5em;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    padding: 0;
    letter-spacing: 0.01em;
}

main {
    color: var(--white);
    line-height: 1.5em;
    font-style: normal;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
    text-align: left;
    display: flex;
    flex-direction: column;
    height: auto;
}

@media screen and (max-width: 600px) {
    main {
        padding: 0px 24px;
    }
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    position: static;
    height: 80px;
}

@media screen and (min-width: 420px) and (max-width: 960px) {
    .nav {
        padding: 6vw;
    }
}

@media screen and (max-width: 420px) {
    .nav {
        padding: 10px 24px;
    }
}

nav a {
    color: var(--white);
    opacity: 50%;
    line-height: 1.5em;
    letter-spacing: 0.01em;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    padding: 0;
    text-decoration: none;
    transition-timing-function: ease-in-out;
}

nav a:hover {
    opacity: 100%;
    transition-timing-function: ease-in-out;
}

.current {
    opacity: 100%;
}

@media screen and (min-width: 0) and (max-width: calc(1680px)) and (orientation: landscape) {
    nav a {
        font-size: calc((1.5 - 1) * 1.2vh + 1rem);
    }
}

@media screen and (min-width: 0) and (max-width: calc(1680px)) and (orientation: portrait) {
    nav a {
        font-size: calc((1.5 - 1) * 1.2vh + 1rem);
    }
}

@media screen and (min-width: 1680px) {
    nav a {
        font-size: calc(1.5*1rem);
    }
}

@media screen and (max-width: 420px) {
    nav a {
        font-size: 1.5rem;
    }

    nav a.about {
        font-size: 1rem;
    }
}

.header-wrapper {
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 420px) {
    .header-wrapper {
        height: 400px;
    }
}

h1,
h1 .companylink {
    color: var(--white);
    line-height: 1.5em;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

h1 .companylink:hover {
    opacity: 50%;
    transition-timing-function: ease-in-out;
}


@media screen and (min-width: 0) and (max-width: calc(1680px)) and (orientation: landscape) {

    h1,
    h1 .companylink {
        font-size: calc((3 - 1) * 1.2vh + 1rem);
    }
}

@media screen and (min-width: 0) and (max-width: calc(1680px)) and (orientation: portrait) {

    h1,
    h1 .companylink {
        font-size: calc((3 - 1) * 1.2vh + 1rem);
    }
}

@media screen and (max-width: 420px) {

    h1,
    h1 .companylink {
        font-size: calc((2.5 - 1) * 1.2vh + 1rem);
    }
}

.body-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 80px;
}

.grid-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;

}

.grid-item {
    flex-basis: 50%;
    -ms-flex: auto;
    position: relative;
    padding: 16px;
    box-sizing: border-box;

}

@media screen and (max-width: 767px) {
    .grid-item {
        flex-basis: 100%;
    }
}

figure {
    overflow: hidden;
    margin: 0 0 16px 0;
    padding: 0;
}

img {
    display: block;
    width: 100%;
}

h3 {
    font-size: 24px;
    color: var(--white);
    line-height: 1.5em;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    padding: 0;
    text-decoration: none;
    letter-spacing: 0.01em;
}

figure img {
    -webkit-transition: all 200ms ease-in-out;
    -webkit-transform: scale(1);
    -ms-transition: all 200ms ease-in-out;
    -ms-transform: scale(1);
    -moz-transition: all 200ms ease-in-out;
    -moz-transform: scale(1);
    transition: all 200ms ease-in-out;
    transform: scale(1);
}

figure:hover img {
    -webkit-transition: all 200ms ease-in-out;
    -webkit-transform: scale(1.1);
    -ms-transition: all 200ms ease-in-out;
    -ms-transform: scale(1.1);
    -moz-transition: all 200ms ease-in-out;
    -moz-transform: scale(1.1);
    transition: all 200ms ease-in-out;
    transform: scale(1.1);
}

footer {
    padding: 10px 40px;
    position: static;
    height: 80px;
}

@media screen and (min-width: 420px) and (max-width: 960px) {
    footer {
        padding: 6vw;
    }
}

@media screen and (max-width: 420px) {
    footer {
        padding: 10px 24px;
    }
}

.footer {
    text-align: left;
    color: var(--white);
    font-size: 16px;
    line-height: 1.5em;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    padding: 0;
    letter-spacing: 0.01em;
}

.links {
    direction: ltr;
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width: 767px) {
    .links {
        direction: ltr;
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 420px) {
    
    .footer {
        text-align: center;
        margin-bottom: 24px;
    }
}

.bio {
    margin: 120px 0;
}

@media screen and (max-width: 420px) {
    .bio {
        margin: 40px 0;
    }
 }

h5 {
    font-size: calc((1.5 - 1) * 1.2vw + 1rem);
    color: var(--white);
    line-height: 1.5em;
    font-style: normal;
    font-weight: 400;
    margin: 0 0 24px 0;
    padding: 0;
    letter-spacing: 0.01em;
}

@media screen and (max-width: 420px) {
   h5 {
        font-size: 1.2rem;
    }
}